html{
    background-image: url(Images/home.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.header{
  list-style-type: none;
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  color:blanchedalmond;
  font-size:xx-large;
  padding-left:90px;
  padding-top:40px;
}
.rooms{
  list-style-type: none;
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  color:blanchedalmond;
}
.directions{
  font-family: "Mynerve", cursive;
  font-weight: 400;
  font-style: normal;
  font: bold;
  color: rgb(36, 20, 7);

  display:flex;
  justify-content: center;
  position: relative;
  top: 10px;
  left:10px;
}


.start{
  display:flex;
  justify-content: space-evenly;
  margin: auto;
  padding-right: 66px;
  font-size: xx-large;
  margin-bottom 200px;
}
.mudroom{
  display:flex;
  justify-content: space-evenly;
  margin:300 300 300 300;
  padding-right: 525px;
  padding-top: 213.2px;
  font-size: large;
}
.kitchen{
  display:flex;
  justify-content: space-evenly;
  margin:300 300 300 300;
  padding-left: 75px;
  padding-right:135px;
  padding-top: 142px;
  font-size: large;
}



.div{
  margin: 100 100 100 100;
}
a{
  text-decoration: none;
}
a:visited{
  color:rgb(225, 192, 152);
}
a:hover{
  color: rgb(255, 185, 81);
}
a:active{
  color: rgb(255, 185, 81);
}
