html{
    background-image: url(Images/home.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.header{
  list-style-type: none;
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  color:blanchedalmond;
  font-size:xx-large;
  padding-left:90px;
  padding-top:10px;
}
.rooms{
  list-style-type: none;
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  color:blanchedalmond;
}


.start{
  display:flex;
  justify-content: space-evenly;
  margin: 200 100 100 100;
  padding-right: 66px;
  font-size: xx-large;
}
.mudroom{
  display:flex;
  justify-content: space-evenly;
  margin:300 300 300 300;
  padding-right: 525px;
  padding-top: 243.6px;
  font-size: large;
}
.shed{
  display:flex;
  justify-content: space-evenly;
  margin:300 300 300 300;
  padding-top:33px;
  padding-left:540px;
  font-size: large;
}
.kitchen{
  display:flex;
  justify-content: space-evenly;
  margin:300 300 300 300;
  padding-left: 75px;
  padding-right:135px;
  padding-top: 87px;
  font-size: large;
}
.living-room{
  display:flex;
  justify-content: space-evenly;
  margin:300 300 300 300;
  padding-right:430px;
  padding-top: 65px;
  font-size: large;
}
.bedroom{
  display:flex;
  justify-content: space-evenly;
  margin:300 300 300 300;
  padding-left:75px;
  padding-top: 13px;
  font-size: large;
}



.div{
  margin: 100 100 100 100;
}
a{
  text-decoration: none;
}
a:visited{
  color:rgb(225, 192, 152);
}
a:hover{
  color: rgb(255, 185, 81);
}
a:active{
  color: rgb(255, 185, 81);
}
